{
  "plugins": ["prettier-plugin-astro"],
  "pluginSearchDirs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "astroAllowShorthand": true,
  "astroSortAttributes": "asc"
}
