---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="px-2">
    <h1 class="text-2xl pb-2">Datenschutzerkl&auml;rung</h1>
    <p>Stand: 8. Oktober 2025</p><br />
    <h2 class="text-xl">Verantwortlicher</h2><p>
      Felix Vogel<br />Beisselstra&szlige 10<br />50169 Kerpen
    </p><br />
    <h2 class="text-xl">Vertretungsberechtigte Personen:</h2>
    Christian Kurm<br /><br />
    <p>
      <strong>E-Mail-Adresse:</strong>
      <a href="mailto:f.smuda@icloud.com">f.smuda@icloud.com</a>
    </p>
    <p><strong>Impressum:</strong> seb-horrem.de/impressum</p>
  </div><br />
  <div class="flex flex-col px-2">
    <h2 class="text-xl">&Uuml;bersicht der Verarbeitungen</h2><p>
      Die nachfolgende &uuml;bersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer
      Verarbeitung zusammen und verweist auf die betroffenen Personen.<br /><br />
    </p><h3 class="text-lg">Arten der verarbeiteten Daten</h3>
    <ul class="list-disc">
      <li>- Inhaltsdaten.</li>
    </ul>
    <br />
    <h3>Kategorien betroffener Personen</h3>
    <ul>
      <li>- Nutzer.</li>
      <li>- Mitglieder.</li>
    </ul><br />
    <h3>Zwecke der Verarbeitung</h3>
    <ul>
      <li>- Kommunikation.</li>
      <li>- Organisations- und Verwaltungsverfahren.</li>
      <li>- Feedback.</li>
      <li>- &Ouml;ffentlichkeitsarbeit.</li>
    </ul><br />
    <h2 class="text-xl">Ma&szliggebliche Rechtsgrundlagen</h2><p>
      <strong>Ma&szliggebliche Rechtsgrundlagen nach der DSGVO: </strong>Im Folgenden erhalten Sie
      eine &uuml;bersicht der Rechtsgrundlagen der DSGVO, auf deren Basis wir personenbezogene Daten
      verarbeiten. Bitte nehmen Sie zur Kenntnis, dass neben den Regelungen der DSGVO nationale
      Datenschutzvorgaben in Ihrem bzw. unserem Wohn- oder Sitzland gelten k&ouml;nnen. Sollten
      ferner im Einzelfall speziellere Rechtsgrundlagen ma&szliggeblich sein, teilen wir Ihnen diese
      in der Datenschutzerkl&auml;rung mit. <br /><br />
    </p>
    <ul>
      <li>
        <strong>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</strong> - die Verarbeitung
        ist zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines Dritten notwendig,
        vorausgesetzt, dass die Interessen, Grundrechte und Grundfreiheiten der betroffenen Person, die
        den Schutz personenbezogener Daten verlangen, nicht &uuml;berwiegen.
      </li><li>
        Vertrag &uuml;ber die Mitgliedschaft (Satzung) (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).
      </li>
    </ul><br /><p>
      <strong>Nationale Datenschutzregelungen in Deutschland: </strong>Zus&auml;tzlich zu den
      Datenschutzregelungen der DSGVO gelten nationale Regelungen zum Datenschutz in Deutschland.
      Hierzu geh&ouml;rt insbesondere das Gesetz zum Schutz vor Missbrauch personenbezogener Daten
      bei der Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG enth&auml;lt insbesondere
      Spezialregelungen zum Recht auf Auskunft, zum Recht auf L&ouml;schung, zum Widerspruchsrecht,
      zur Verarbeitung besonderer Kategorien personenbezogener Daten, zur Verarbeitung f&uuml;r
      andere Zwecke und zur &uuml;bermittlung sowie automatisierten Entscheidungsfindung im
      Einzelfall einschlie&szliglich Profiling. Ferner k&ouml;nnen Landesdatenschutzgesetze der
      einzelnen Bundesl&auml;nder zur Anwendung gelangen.
    </p>
    <p>
      <strong>Hinweis auf Geltung DSGVO und Schweizer DSG: </strong>Diese Datenschutzhinweise dienen
      sowohl der Informationserteilung nach dem Schweizer DSG als auch nach der
      Datenschutzgrundverordnung (DSGVO). Aus diesem Grund bitten wir Sie zu beachten, dass aufgrund
      der breiteren r&auml;umlichen Anwendung und Verst&auml;ndlichkeit die Begriffe der DSGVO
      verwendet werden. Insbesondere statt der im Schweizer DSG verwendeten Begriffe „Bearbeitung"
      von „Personendaten", "&uuml;berwiegendes Interesse" und "besonders sch&uuml;tzenswerte
      Personendaten" werden die in der DSGVO verwendeten Begriffe „Verarbeitung" von
      „personenbezogenen Daten" sowie "berechtigtes Interesse" und "besondere Kategorien von Daten"
      verwendet. Die gesetzliche Bedeutung der Begriffe wird jedoch im Rahmen der Geltung des
      Schweizer DSG weiterhin nach dem Schweizer DSG bestimmt.
    </p>

    <h2 id="m27">Sicherheitsma&szlignahmen</h2><p>
      Wir treffen nach Ma&szliggabe der gesetzlichen Vorgaben unter Ber&uuml;cksichtigung des Stands
      der Technik, der Implementierungskosten und der Art, des Umfangs, der Umst&auml;nde und der
      Zwecke der Verarbeitung sowie der unterschiedlichen Eintrittswahrscheinlichkeiten und des
      Ausma&szliges der Bedrohung der Rechte und Freiheiten nat&uuml;rlicher Personen geeignete
      technische und organisatorische Ma&szlignahmen, um ein dem Risiko angemessenes Schutzniveau zu
      gew&auml;hrleisten.
    </p>
    <p>
      Zu den Ma&szlignahmen geh&ouml;ren insbesondere die Sicherung der Vertraulichkeit,
      Integrit&auml;t und Verf&uuml;gbarkeit von Daten durch Kontrolle des physischen und
      elektronischen Zugangs zu den Daten als auch des sie betreffenden Zugriffs, der Eingabe, der
      Weitergabe, der Sicherung der Verf&uuml;gbarkeit und ihrer Trennung. Des Weiteren haben wir
      Verfahren eingerichtet, die eine Wahrnehmung von Betroffenenrechten, die L&ouml;schung von
      Daten und Reaktionen auf die Gef&auml;hrdung der Daten gew&auml;hrleisten. Ferner
      ber&uuml;cksichtigen wir den Schutz personenbezogener Daten bereits bei der Entwicklung bzw.
      Auswahl von Hardware, Software sowie Verfahren entsprechend dem Prinzip des Datenschutzes,
      durch Technikgestaltung und durch datenschutzfreundliche Voreinstellungen.
    </p>
    <p>
      Sicherung von Online-Verbindungen durch TLS-/SSL-Verschl&uuml;sselungstechnologie (HTTPS): Um
      die Daten der Nutzer, die &uuml;ber unsere Online-Dienste &uuml;bertragen werden, vor
      unerlaubten Zugriffen zu sch&uuml;tzen, setzen wir auf die
      TLS-/SSL-Verschl&uuml;sselungstechnologie. Secure Sockets Layer (SSL) und Transport Layer
      Security (TLS) sind die Eckpfeiler der sicheren Daten&uuml;bertragung im Internet. Diese
      Technologien verschl&uuml;sseln die Informationen, die zwischen der Website oder App und dem
      Browser des Nutzers (oder zwischen zwei Servern) &uuml;bertragen werden, wodurch die Daten vor
      unbefugtem Zugriff gesch&uuml;tzt sind. TLS, als die weiterentwickelte und sicherere Version
      von SSL, gew&auml;hrleistet, dass alle Daten&uuml;bertragungen den h&ouml;chsten
      Sicherheitsstandards entsprechen. Wenn eine Website durch ein SSL-/TLS-Zertifikat gesichert
      ist, wird dies durch die Anzeige von HTTPS in der URL signalisiert. Dies dient als ein
      Indikator f&uuml;r die Nutzer, dass ihre Daten sicher und verschl&uuml;sselt &uuml;bertragen
      werden.
    </p>

    <h2 id="m354">Wahrnehmung von Aufgaben nach Satzung oder Gesch&auml;ftsordnung</h2><p>
      Wir verarbeiten die Daten unserer Mitglieder, Unterst&uuml;tzer, Interessenten,
      Gesch&auml;ftspartner oder sonstiger Personen (Zusammenfassend "Betroffene"), wenn wir mit
      ihnen in einem Mitgliedschafts- oder sonstigem gesch&auml;ftlichen Verh&auml;ltnis stehen und
      unsere Aufgaben wahrnehmen sowie Empf&auml;nger von Leistungen und Zuwendungen sind. Im
      &uuml;brigen verarbeiten wir die Daten Betroffener auf Grundlage unserer berechtigten
      Interessen, z. B. wenn es sich um administrative Aufgaben oder &ouml;ffentlichkeitsarbeit
      handelt.
    </p>
    <p>
      Die hierbei verarbeiteten Daten, die Art, der Umfang und der Zweck und die Erforderlichkeit
      ihrer Verarbeitung, bestimmen sich nach dem zugrundeliegenden Mitgliedschafts- oder
      Vertragsverh&auml;ltnis, aus dem sich auch die Erforderlichkeit etwaiger Datenangaben ergeben
      (im &uuml;brigen weisen wir auf erforderliche Daten hin).
    </p>
    <p>
      Wir l&ouml;schen Daten, die zur Erbringung unserer satzungs- und
      gesch&auml;ftsm&auml;&szligigen Zwecke nicht mehr erforderlich sind. Dies bestimmt sich
      entsprechend der jeweiligen Aufgaben und vertraglichen Beziehungen. Wir bewahren die Daten so
      lange auf, wie sie zur Gesch&auml;ftsabwicklung, als auch im Hinblick auf etwaige
      Gew&auml;hrleistungs- oder Haftungspflichten auf Grundlage unserer berechtigten Interesse an
      deren Regelung relevant sein k&ouml;nnen. Die Erforderlichkeit der Aufbewahrung der Daten wird
      regelm&auml;&szligig &uuml;berpr&uuml;ft; im &uuml;brigen gelten die gesetzlichen
      Aufbewahrungspflichten.
    </p>
    <h2 class="text-xl">Pr&auml;senzen in sozialen Netzwerken (Social Media)</h2><p>
      Wir unterhalten Onlinepr&auml;senzen innerhalb sozialer Netzwerke und verarbeiten in diesem
      Rahmen Nutzerdaten, um mit den dort aktiven Nutzern zu kommunizieren oder Informationen
      &uuml;ber uns anzubieten.
    </p>
    <p>
      Wir weisen darauf hin, dass dabei Nutzerdaten au&szligerhalb des Raumes der Europ&auml;ischen
      Union verarbeitet werden k&ouml;nnen. Hierdurch k&ouml;nnen sich f&uuml;r die Nutzer Risiken
      ergeben, weil so zum Beispiel die Durchsetzung der Nutzerrechte erschwert werden k&ouml;nnte.
    </p>
    <p>
      Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall f&uuml;r
      Marktforschungs- und Werbezwecke verarbeitet. So k&ouml;nnen beispielsweise anhand des
      Nutzungsverhaltens und sich daraus ergebender Interessen der Nutzer Nutzungsprofile erstellt
      werden. Letztere finden m&ouml;glicherweise wiederum Verwendung, um etwa Werbeanzeigen
      innerhalb und au&szligerhalb der Netzwerke zu schalten, die mutma&szliglich den Interessen der
      Nutzer entsprechen. Daher werden im Regelfall Cookies auf den Rechnern der Nutzer gespeichert,
      in denen das Nutzungsverhalten und die Interessen der Nutzer gespeichert werden. Zudem
      k&ouml;nnen in den Nutzungsprofilen auch Daten unabh&auml;ngig der von den Nutzern verwendeten
      Ger&auml;ten gespeichert werden (insbesondere, wenn sie Mitglieder der jeweiligen Plattformen
      und dort eingeloggt sind).
    </p>
    <p>
      F&uuml;r eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der
      Widerspruchsm&ouml;glichkeiten (Opt-out) verweisen wir auf die Datenschutzerkl&auml;rungen und
      Angaben der Betreiber der jeweiligen Netzwerke.
    </p>
    <p>
      Auch im Fall von Auskunftsanfragen und der Geltendmachung von Betroffenenrechten weisen wir
      darauf hin, dass diese am effektivsten bei den Anbietern geltend gemacht werden k&ouml;nnen.
      Nur Letztere haben jeweils Zugriff auf die Nutzerdaten und k&ouml;nnen direkt entsprechende
      Ma&szlignahmen ergreifen und Ausk&uuml;nfte geben. Sollten Sie dennoch Hilfe ben&ouml;tigen,
      dann k&ouml;nnen Sie sich an uns wenden.
    </p>
    <br />
    <ul class="m-elements">
      <li>
        <strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z. B. Post- und E-Mail-Adressen oder
        Telefonnummern); Inhaltsdaten (z. B. textliche oder bildliche Nachrichten und Beitr&auml;ge sowie
        die sie betreffenden Informationen, wie z. B. Angaben zur Autorenschaft oder Zeitpunkt der Erstellung).
        Nutzungsdaten (z. B. Seitenaufrufe und Verweildauer, Klickpfade, Nutzungsintensit&auml;t und
        -frequenz, verwendete Ger&auml;tetypen und Betriebssysteme, Interaktionen mit Inhalten und Funktionen).
      </li><li>
        <br />
        <strong>Betroffene Personen:</strong> Nutzer (z. B. Webseitenbesucher, Nutzer von Onlinediensten).
      </li><li>
        <br />
        <strong>Zwecke der Verarbeitung:</strong> Kommunikation; Feedback (z. B. Sammeln von Feedback
        via Online-Formular). &ouml;ffentlichkeitsarbeit.
      </li><li>
        <br />
        <strong>Aufbewahrung und L&ouml;schung:</strong> L&ouml;schung entsprechend Angaben im Abschnitt
        "Allgemeine Informationen zur Datenspeicherung und L&ouml;schung".
      </li><li class="">
        <br />
        <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
      </li><br />
    </ul><p>
      <strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong>
    </p><ul class="m-elements">
      <li>
        <strong>Instagram: </strong>Soziales Netzwerk, erm&ouml;glicht das Teilen von Fotos und
        Videos, das Kommentieren und Favorisieren von Beitr&auml;gen, Nachrichtenversand, Abonnieren
        von Profilen und Seiten; <strong>Dienstanbieter:</strong> Meta Platforms Ireland Limited, Merrion
        Road, Dublin 4, D04 X2K5, Irland; <span class=""
          ><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO);
        </span><strong>Website:</strong>
        <a href="https://www.instagram.com" target="_blank">https://www.instagram.com</a>; <strong
          >Datenschutzerkl&auml;rung:</strong
        >
        <a href="https://privacycenter.instagram.com/policy/" target="_blank"
          >https://privacycenter.instagram.com/policy/</a
        >. <strong>Grundlage Drittlandtransfers:</strong> Data Privacy Framework (DPF).
      </li><li>
        <strong>Facebook-Seiten: </strong>Profile innerhalb des sozialen Netzwerks Facebook - Der
        Verantwortliche ist gemeinsam mit Meta Platforms Ireland Limited f&uuml;r die Erhebung und
        &uuml;bermittlung von Daten der Besucher unserer Facebook-Seite („Fanpage") verantwortlich.
        Dazu geh&ouml;ren insbesondere Informationen &uuml;ber das Nutzerverhalten (z. B. angesehene
        oder interagierte Inhalte, durchgef&uuml;hrte Handlungen) sowie Ger&auml;teinformationen
        (z. B. IP-Adresse, Betriebssystem, Browsertyp, Spracheinstellungen, Cookie-Daten).
        N&auml;heres hierzu findet sich in der Facebook-Datenrichtlinie: <a
          href="https://www.facebook.com/privacy/policy/"
          target="_blank">https://www.facebook.com/privacy/policy/.</a
        > Facebook verwendet diese Daten auch, um uns &uuml;ber den Dienst „Seiten-Insights" statistische
        Auswertungen bereitzustellen, die Aufschluss dar&uuml;ber geben, wie Personen mit unserer Seite
        und deren Inhalten interagieren. Grundlage hierf&uuml;r ist eine Vereinbarung mit Facebook („Informationen
        zu Seiten-Insights":
        <a href="https://www.facebook.com/legal/terms/page_controller_addendum" target="_blank"
          >https://www.facebook.com/legal/terms/page_controller_addendum</a
        >), in der unter anderem Sicherheitsma&szlignahmen sowie die Wahrnehmung der
        Betroffenenrechte geregelt sind. Weitere Hinweise finden sich hier: <a
          href="https://www.facebook.com/legal/terms/information_about_page_insights_data"
          target="_blank"
          >https://www.facebook.com/legal/terms/information_about_page_insights_data.</a
        > Nutzer k&ouml;nnen Auskunfts- oder L&ouml;schungsanfragen daher direkt an Facebook richten.
        Die Rechte der Nutzer (insbesondere Auskunft, L&ouml;schung, Widerspruch, Beschwerde bei einer
        Aufsichtsbeh&ouml;rde) bleiben hiervon unber&uuml;hrt. Die gemeinsame Verantwortlichkeit beschr&auml;nkt
        sich ausschlie&szliglich auf die Erhebung der Daten durch Meta Platforms Ireland Limited (EU).
        F&uuml;r die weitere Verarbeitung, einschlie&szliglich einer m&ouml;glichen &uuml;bermittlung
        an Meta Platforms Inc. in den USA, ist allein Meta Platforms Ireland Limited verantwortlich;
        <strong>Dienstanbieter:</strong> Meta Platforms Ireland Limited, Merrion Road, Dublin 4, D04
        X2K5, Irland; <span class=""
          ><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO);
        </span><strong>Website:</strong>
        <a href="https://www.facebook.com" target="_blank">https://www.facebook.com</a>; <strong
          >Datenschutzerkl&auml;rung:</strong
        >
        <a href="https://www.facebook.com/privacy/policy/" target="_blank"
          >https://www.facebook.com/privacy/policy/</a
        >. <strong>Grundlage Drittlandtransfers:</strong> Data Privacy Framework (DPF), Standardvertragsklauseln
        (<a href="https://www.facebook.com/legal/EU_data_transfer_addendum" target="_blank"
          >https://www.facebook.com/legal/EU_data_transfer_addendum</a
        >).
      </li>
    </ul>
    <p class="seal">
      <a
        href="https://datenschutz-generator.de/"
        title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a
      >
    </p>
  </div>
</Layout>
