---
import Layout from "../layouts/Layout.astro";
import ScrollIndicator from "../components/ScrollIndicator.astro";
---

<Layout>
  <section
    class="relative flex min-h-screen flex-col items-center justify-center text-center text-white"
  >
    <div
      class="absolute inset-0 -z-10 bg-cover bg-[#1f7a1f]"
      style={`background-image: url(${import.meta.env.BASE_URL}assets/img/hero.webp)`}
    >
    </div>
    <div class="mt-24">
      <h3 class="text-[28px] font-normal font-['Open_Sans'] mb-5 text-white">
        Das ist die
      </h3>
      <h1 class="text-[60px] font-bold font-['Open_Sans'] mb-4 text-white">
        St. Sebastianus Schützenbruderschaft Horrem<br />
        seit 1550 e.V.
      </h1>
    </div>
    <ScrollIndicator />
  </section>
  <section
    class="flex flex-col items-center bg-[#83cea5] px-6 sm:px-10 lg:px-20 py-24 text-center"
  >
    <p class="max-w-[775px] px-5 leading-8 text-[#666]">
      Unser Verein besteht aus einer ganzen Reihe von Abteilungen, Diensten die
      wir anbieten und Veranstaltungen die wir entweder ausrichten oder
      Besuchen. Möchtest du mehr darüber erfahren, wie unser Schießsport
      funktioniert, oder wie du unser Heim für eigene Veranstaltungen mieten
      kannst, dann bist du hier an der richtigen Stelle
    </p>
  </section>
  <section class="flex flex-col items-center bg-[#83cea5] py-24 justify-center">
    <div class="mt-4 space-y-8 w-full max-w-[900px] text-[#666]">
      <div class="flex flex-row justify-between">
        <span class="text-3xl text-left">Der Schießsport</span>
        <a class="btn btn-soft btn-success w-32" href="/majestaeten"
          >Mehr Infos</a
        >
      </div>

      <div class="flex flex-row justify-between">
        <span class="text-3xl text-left">Die Jugend</span>
        <a class="btn btn-soft btn-success w-32" href="/majestaeten"
          >Mehr Infos</a
        >
      </div>

      <div class="flex flex-row justify-between">
        <span class="text-3xl">Der Vorstand</span>
        <a class="btn btn-soft btn-success w-32" href="/majestaeten"
          >Mehr Infos</a
        >
      </div>

      <div class="flex flex-row justify-between">
        <span class="text-3xl">Vermietung</span>
        <a class="btn btn-soft btn-success w-32" href="/majestaeten"
          >Mehr Infos</a
        >
      </div>
    </div>
  </section>
</Layout>
