---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="flex flex-col items-center bg-[#d4ffe7] px-6 sm:px-10 lg:px-20 py-24"
  >
    <h3 class="mb-8 text-[32px] font-bold font-['Open_Sans'] text-[#666]">
      Wo findet ihr uns?
    </h3>
    <h2 class="text-[#666] text-[32px] mb-8">Mittelstraße 58, 50169 Kerpen</h2>
    <p class="max-w-[775px] px-5 leading-8 text-[#666]">
      Beachtet bitte, das die einfachste Zufahrt über die Hauptstraße 217 in
      Horrem zu finden ist. Dort befindet sich auch der Parkplatz, auf dem ihr
      euer Auto abstellen könnt. Von dort aus sind es nur wenige Schritte bis zu
      unserem Schützenheim. Wir sind sehr gut zu Fuß, mit dem Fahrrad, dem Bus
      oder dem Auto zu erreichen. Der Bahnhof Horrem ist nur wenige Gehminuten
      entfernt und bietet eine gute Anbindung an den öffentlichen Nahverkehr. An
      der Straße befindet sich die Bushaltestelle "Horrem Markt", die regelmäßig
      angefahren wird.<br />
      <br />
      <strong>Hinweis: </strong>
      Bei größeren Veranstaltungen kann es zu Einschränkungen bei der Parkplatzsituation
      kommen. Wir empfehlen daher, wenn möglich, die Nutzung anderer Parkflächen
      oder eine alternative Anreisemöglichkeit.
    </p>
  </section>
  <section
    class="flex flex-col items-center bg-[#83cea5] px-6 sm:px-10 lg:px-20 py-24 text-center text-[#666]"
  >
    <h3 class="mb-8 text-[32px] font-bold font-['Open_Sans'] text-[#666]">
      Eine grobe Anfahrtsskizze
    </h3>
    <img
      class="max-w-[800px] border-2 rounded-sm mx-auto w-full mb-8"
      src={`${import.meta.env.BASE_URL}assets/img/vorstand.webp`}
      alt="Anfahrtsskizze"
    />
    <p>
      <strong>Hinweis:</strong> Aus Datenschutzgründen verzichten wir auf das Einbinden
      einer interaktiven Karte. Anhand unseres Namens sind wir aber leicht zu finden.
    </p>
  </section>
</Layout>
