---
import { Icon } from "astro-icon/components";
---

<button
  id="backToTopBtn"
  onclick="goToTop()"
  class="opacity-0 pointer-events-none transition-opacity duration-300 fixed bottom-5 right-8 z-[99] border-none outline-none bg-[rgba(31,122,31,0.5)] text-white cursor-pointer p-4 rounded-lg text-lg hover:bg-[#555]"
>
  <Icon name="arrow-up" />
</button>

<script is:browser>
  window.addEventListener("scroll", function () {
    const btn = document.getElementById("backToTopBtn");
    if (!btn) return;

    if (window.scrollY > 500) {
      btn.classList.remove("opacity-0", "pointer-events-none");
      btn.classList.add("opacity-100");
    } else {
      btn.classList.add("opacity-0", "pointer-events-none");
      btn.classList.remove("opacity-100");
    }
  });

  function goToTop() {
    window.scrollTo({ top: 0, behavior: "smooth" });
  }
</script>
