<footer
  class="bg-base-100 text-white flex justify-around p-5 uppercase content"
>
  <p class="opacity-60 text-center text-[14px]">
    <a href="/pages/impressum.html" target="_blank">Impressum</a>
  </p>
  <p class="opacity-60 text-center text-[14px]">
    <a href="/pages/datenschutz.html" target="_blank">Datenschutz</a>
  </p>
  <!-- <p><a href="http://fellcode.me">Cookies-Einstellungen</a></p> -->
</footer>
