<footer class="bg-base-100 text-white flex justify-around p-5 uppercase content">
  <p class="opacity-60 text-center text-[14px]">
    <a href={`${import.meta.env.BASE_URL}impressum`} target="_blank">Impressum</a>
  </p>

  <p class="opacity-60 text-center text-[14px]">
    <a href={`${import.meta.env.BASE_URL}datenschutz`} target="_blank">Datenschutz</a>
  </p>
</footer>
