---
import { Icon } from "astro-icon/components";
---

<span id="scrollIndicator" class="absolute bottom-[10%]">
  <Icon name="angle-down" class="w-8 h-8" />
</span>

<script is:browser type="module">
  window.addEventListener("scroll", () => {
    const checkpoint = 300;
    const currentScroll = window.pageYOffset;
    const scrollIcon = document.getElementById("scrollIndicator");
    if (!scrollIcon) return;

    const opacity =
      currentScroll <= checkpoint ? 1 - currentScroll / checkpoint : 0;
    scrollIcon.style.opacity = opacity;
  });
</script>
