---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BackToTopButton from "../components/BackToTopButton.astro";

import "../styles/global.css";

export interface Props {
  title?: string;
}
const { title = "St. Sebastianus Schützenbruderschaft Horrem seit 1550 e.V." } =
  Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Die Vereinsseite der Sankt Sebastianus Schuetzenbruderschaft in Kerpen Horrem
    	mit Informationen rund um den Alltag und Angeboten der Bruderschaft"
    />
    <meta
      property="og:title"
      content="St. Sebastianus Schützenbruderschaft Horrem seit 1550 e.V."
    />
    <meta
      property="og:description"
      content="Infos rund um die Bruderschaft in Kerpen Horrem."
    />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <BackToTopButton />
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<!--
<script>

function myFunction() {
  var x = document.getElementById("navLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}


function mobileMenu() {
  let nav = document.getElementById("nav-menu")
  nav.classList.toggle("visible");
}

</script


-->
